// colors
$global-background: #ffffff;
$drawer-background: #f3f3f3;

// text
$primary-text-color: #3c3838;
$secondary-text-color: #606060;
$subtext-color: #3c3838;
$footer-text-color: #a9a9a9;

// misc
$error-color: #e63946;
$purple: #8055fa;
$twitter-color: #1da1f2;

// borders
$border-color: #dedede;

// fonts
$text-font: "Lato", sans-serif;
$header-font: "Playfair Display", sans-serif;
$header-size: 20px;

// sizing
$side-margin: 2%;

//why cards
$why-card-content-width: calc(100vw / 4 - 48px - 40px);
$why-card-width: calc(100vw / 4 - 48px);

$artworkList-width: 300px;
$drawer-width: 40%;

$wi-artworkList-width: 500px;
